/* 
 * Configuration for DetailsList with header came from from:
 * https://stackoverflow.com/a/53527580/6509903
*/
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.header {
  flex: 0;
}

.main {
  flex: 1;
  position: relative;
}

.titlebar {
  text-align: center;
  font-weight: 600;
  color: rgb(37, 37, 37);

  /* See https://www.electronjs.org/docs/api/frameless-window#draggable-region */
  -webkit-app-region: drag;
}
